<% include partials/sidenav %>
<!-- Posts Section -->

  <div class="main row">
    <section class="post-comment col-lg-8 col-md-11">
      <div class="post">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <h4><%= post.title %></h4>
            </div>
            <div class="row">
              <h6><%= post.textarea %></h6>
            </div>
            <div class="">
              <span class="vote-section">
                <article class="d-inline">
                  <% if(post.upVotes.includes(userid)) { %>
                    <i class="fas fa-chevron-up upvote-post is-liked" data-id="<%= post.id %>"></i><br>
                  <% } else { %>
                   <i class="fas fa-chevron-up upvote-post" data-id="<%= post.id %>"></i><br>
                  <% } %> 
                   <a href="#" class="vote-text"><%= post.voteScore %></a><br>
                   <% if(post.downVotes.includes(userid)) { %>
                  <i class="fas fa-chevron-down downvote-post is-liked" data-id="<%= post.id %>"></i>
                  <% } else { %>
                    <i class="fas fa-chevron-down downvote-post" data-id="<%= post.id %>"></i><br>
                    <% } %>  
                </article>&nbsp

              <% if(post.author.username === username) { %>
                <a class = "btn no-padding-btn" href="/posts/edit/<%= post.id %>"> <i class="fas fa-pen"></i>  Edit</a>
                <a class="btn no-padding-btn" id="deluser-post" data-id="<%= post.id  %>"><i class="fas fa-trash-alt"></i> Delete</a>
              <% } %>
              
              <% if(post.author.username != username) { %>
              <a class = "btn no-padding-btn" href="#"> <i class="fas fa-flag"></i> Report</a>
                <!-- <button type="button" name="button">Report</button> -->
                <% } %>
              </span>
              <span class="time-section">
                <i><%= post.created_date %></i>|
                <a href="#"><%= post.author.username %></a>
              </span>

            </div>
          </div>
        </div>
      </div>

      <!-- Comment Section -->

      <!-- User Reply -->
      <div class="comment-box">
        <form class="" action="/posts/<%= post.id %>/comments" method="post">
          <textarea class="input-area comment-area"  name = "comment" type="text" placeholder="Enter your comment here..." name="" value=""></textarea> <br>
          <button class="btn btn-dark submit-button btn-sm" type="submit" name="button"> Comment </button>
        </form>
      </div>


      <!-- Comments Display -->

<% post.comments.forEach(function(comment) { %> 
      <div class="row">
        <div class="userposts col-lg-12 col-md-12 col-sm-12">
            <div class="uservote">  
              <article class="d-inline">
                <% if(comment.upVotes.includes(userid)) { %>
                  <i class="fas fa-chevron-up upvote-comment is-liked" data-id="<%= comment.id %>"></i><br>
                <% } else { %>
                 <i class="fas fa-chevron-up upvote-comment" data-id="<%= comment.id %>"></i><br>
                <% } %> 
                 <a href="#" class="comment-text"><%= comment.voteScore %></a><br>
                 <% if(comment.downVotes.includes(userid)) { %>
                <i class="fas fa-chevron-down downvote-comment is-liked" data-id="<%= comment.id %>"></i>
                <% } else { %>
                  <i class="fas fa-chevron-down downvote-comment" data-id="<%= comment.id %>"></i><br>
                  <% } %> 
              </article>&nbsp

            </div>

            <div class="title-desc">
              <h6><%= comment.comment %></h6>
            </div>
            <div class="">
              <span class="time-section">
                <i><%= comment.created_date %> </i>
                <p>Comment By:<%= comment.author.username %></p>
              </span> 
              </div>
            </div>

        </div>
        <% }); %>
    </section>

   
  </div>